---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: abhishek-cluster
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Abhishek-Punhani/kube-demo
    targetRevision: HEAD
    path: k8s
    directory:
      recurse: true
      exclude: "{kind.yaml,start.sh,argoCd.yaml,legacy/*}"
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
